* {
  margin:0;
  padding: 0;
}

/* html {
  background-color: #ccd5ae;
} */

.loginPageContainer {
  display: flex;
}
#overlay {
  position: fixed;
  top: 470px;
  right: 240px;
}
.loginImg {
  display: flex;
  height: 100%;
  width: 100%;
}
.loginContainer {
    display: flex;
    justify-content: space-around;
    background-color: #ccd5ae;
}
.loginCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-items: center;
    width: 25rem;
    border-radius: 10px;
    margin: 10rem;
    padding: 5rem 0;
    box-shadow: 10px 10px 10px #3a5a40;
}

.loginTitle {
    padding: 0;
    margin: 0;
}

.loginInputForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.loginLabelDiv {
    margin-top: 1rem;
    justify-items: center;
    font-size: 17px;
}

.loginInput {
    border: none;
    border-radius: 10px;
    height: 2rem;
    width: 15rem;
    background-color: #e9edc9;
    text-align: center;
}

.loginButton {
    width: 100%;
}

.loginBtn {
    padding: 1rem;
}

.signUpPageContainer {
  display: flex;
  justify-content: space-around;
  background-color: #ccd5ae;
}

.signUpCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 5rem;
  margin: 10rem;
  box-shadow: 10px 10px 10px #3a5a40;
}

.signUpTitle {
  padding-bottom: 2rem;
}

.signUpInput {
  border: none;
  border-bottom: 1px solid grey;
  margin: 1rem;
  width: 10rem;
  text-align: center;
}

.signUpInput:focus {
  outline:none;
}

.signUpButtons {
  display: flex;
  justify-content: space-around;
}

.signUpSubmitBtn {
  border: none;
  background-color: #ccd5ae;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
}

.signUpCancelBtn {
  border: 2px solid #ccd5ae;
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem;
}

.signUpSubmitBtn, .signUpCancelBtn:hover {
  cursor: pointer;
}

body {
  background-color: #faedcd;
}

.hp-header {
  background-color: #ccd5ae;
  text-align: center;
  font-size: 80px;
  color: #ffffff
}

.entries-container {
  display: flex;
  flex-direction: column;
  background-color: #f9f1de;
  text-align: center;
  border-style: solid;
  height: 24em;
  width: 20em;
  border-radius: 1em;
  border-color: #c5a789
}

.entries {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin-left: 1em;
  /* ----------- */
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
}

.cardContainer {
  display: flex;
}

.entries-container{
  /* flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 45%;
  height: 45%;
  background-color: rgb(235, 216, 216); */

  display: flex;
  justify-content: center;
  align-items: center;
}

#newEntry-btn {
  background-color: #edc298;
  border: none;
  border-radius: 1em;
  height: 2em;
  width: 6em;
  margin: 2em;
}

#newEntry-btn:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.bloodSugarInput {
  display: flex;
}

.bloodSugarInput input {
  width: 27px;
}

.bloodPressure {
  display: flex;
}

.inputBar {
  width: 27px;
}

.paragraphBP {
  padding-left: 5px;
  padding-right: 5px;
}

.popup-close-btn {
  background-color: #edc298;
  border: none;
  border-radius: 1em;
  height: 2em;
  width: 6em;
  margin: 2em;
  margin-top: 0;
}

.save-entry-btn {
  background-color: #edc298;
  border: none;
  border-radius: 1em;
  height: 2em;
  width: 6em;
  margin: 2em;
}

.graphs {
  display: flex;
}

.navBarContainer {
  background-color: #ccd5ae;
  padding: 1rem;
}

.navBarList {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navigationLinks:hover {
  text-decoration: underline;
  color: white;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameName {
  margin-top: 1em;
  margin-bottom: 1em;
}

.boardGame {
  height: 700px;
  width: 700px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
}



.individualCards {
  max-width: 80%;
  max-height: 10rem;
  padding: 4px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transform: rotateY(180deg);
  animation: 2s hideCard linear;
  transition: transform 0.5s;
}

@keyframes hideCard{
  0%, 70%{
    transform: rotateY(0);
  }
  100%{
    transform: rotateY(180deg);
  }
}

.individualCards img {
  /* max-width: 80%;
  max-height: 100px; */
  transform: scale(0);
  animation: 2s hideImg linear;
  transition: transform 0.5s;
}

@keyframes hideImg {
  0%, 70% {
    transform: scale(1);
  }
  100%{
    transform: scale(0)
  }
}

.individualCards.active {
  transform: rotateY(0);
  
}

.individualCards.wrong {
  background-color: red;
  
}

.individualCards.correct {
  background-color: green;
  
}

.individualCards.active img {
  transform: scale(1);
  
}